{% extends 'layout.html' %}
{% block head %}
	{{ super() }}
	<meta http-equiv='refresh' content='10'>
{% endblock %}
{% block content %}
<!--<marquee direction='up' scrollamount='3'>-->
{% for task in open_tasks %}
<div class='card w95 '>
	<div class='card-header py-1 pr-1'>
		!todo #{{ task['id'] }} 
		<button class='btn float-right' type='button'>
			<strong>&times;</strong>
		</button>
	</div>
	<div class='card-body py-1'>
		<strong>{{ task['title'] }}</strong>
	</div>
</div>
{% endfor %}
	<!--</marquee>-->

{% endblock %}
